<div class="row form-group">
  <div class="{{#if colInput}}{{colInput}}{{else}}col-sm-12{{/if}}">
    <label>
      <input type="checkbox" class="b4-checkbox" id="{{name}}" name="{{name}}" {{#if checked}}checked{{/if}} /> {{text}}
    </label>
  </div>
</div>