<div class="row form-group">
  {{#if caption}}
    <label for="{{name}}" class="{{colLabel}} control-label my-auto">{{caption}}</label>
  {{/if}}
  <div class="{{#if colInput}}{{colInput}}{{else}}col-sm-12{{/if}}">
    <input type="text" class="form-control b4-input{{#if required}} form-control-required{{/if}}" id="{{name}}" name="{{name}}" value="{{value}}" placeholder="{{placeholder}}" />
  </div>
</div>