<div class="form-group">
    <label for="{{name}}" class="col-sm-3 control-label">{{caption}}</label>
    <div class="col-sm-9">      
        <input type="password" class="form-control{{#if required}} form-control-required{{/if}}" id="{{name}}" name="{{name}}" value="{{value}}" placeholder="{{placeholder}}" />
    </div>        
</div>