<div class="form-group{{#if required}} has-feedback{{/if}}">
    <label for="{{name}}" class="col-sm-3 control-label">{{caption}}</label>
    <div class="col-sm-9">
        <textarea rows="5" cols="0" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">{{value}}</textarea>
        {{#if required}}
        <i class="fa fa-asterisk form-control-feedback"></i>
        {{/if}}
    </div>
</div>